:root {
  /** Colors */
  --background-main: hsl(0, 0%, 0%);
  --secondary-bg: #101115;
  --button-cl: #7f5af0;
  --paragraph-cl: #94a1b2;
  --button-txt-cl: #b8b83a;
  --main: #fffffe;
  --main-rm: #eef5e8;
  --stroke-cl: #010101;
  --highlight: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
  --price: #a7c957;
  /* #ffd40 */
  /* Fonts */

  --font-Catamaran: 'Catamaran', sans-serif;
  --font-Fira: 'Fira Sans', sans-serif;
  --font-Yantra: 'Yantramanav', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--background-main);
}
ul {
  list-style: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 2;
  margin: 0 auto;
}

header .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 3rem;
}
header .header-logo span {
  color: var(--tertiary);
  font-family: var(--font-Catamaran);
  font-size: 2.8rem;
}

header .header-logo H2 {
  color: #f2f2f2;
  font-family: var(--font-Catamaran);
  font-size: 2rem;
}

.navbar,
.nav-list,
.nav-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 60px;
}

.nav-list {
  gap: 40px;
  padding-left: 2rem;
}

.nav-list .nav__list__social {
  display: none;
}

.nav-social {
  gap: 18px;
  padding-right: 2.8rem;
}

.navbar a {
  color: #f2f2f2;
  font-family: var(--font-Fira);
  font-size: 1.1rem;
  font-weight: 300;
}

/** Hambur */

.menu-label,
#menu-toggle,
#cart-toggle {
  display: none;
}

main {
  padding-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
h1,
h2 {
  color: var(--main);
  font-family: var(--font-Catamaran);
  font-weight: 400;
}
/* Hero */
.home {
  position: relative;
  min-height: 540px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 5rem;
  top: 200px;
  /* margin-bottom: 200px; */
}
.home img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 14px;
}
.home-text {
  padding-right: 4rem;
  text-align: right;
}
.home-text .home-title {
  font-size: 4.4rem;
  text-transform: uppercase;
  color: var(--stroke-cl);
  margin-bottom: 1rem;
  font-family: 'Bebas Neue', cursive;
}

.btn {
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: #16161a 4px 4px 0px;
  border-radius: 8px;
  padding: 20px 25px;
  color: var(--button-txt-cl);
  font-family: var(--font-Yantra);
  border: none;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
  min-width: 120px;
  transition: transform 200ms, box-shadow 200ms;
  z-index: 1;
  cursor: pointer;
}
.btn:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: #094c66 0px 0px 0px;
}
/* Section-1 */

.section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 1200px;
  margin-top: 220px;
}
.section-1 h1 {
  font-size: 2.1rem;
  align-self: flex-start;
  padding: 0 0 5rem 4rem;
  width: 100%;
}
.section-box-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.box {
  width: 255px;
  position: relative;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  cursor: pointer;
}
.game-info-img {
  position: relative;
  width: 255px;
  height: 350px;
}

.game-info-img img {
  width: 255px;
  height: 350px;
}
.game-info-img .btn-2 {
  position: absolute;
  right: 201px;
}

.btn-2 {
  background-color: var(--price);
  color: #386641;
  border: none;
  outline: none;
  padding: 6px 6px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  position: relative;
}
.game-info {
  position: relative;
  width: 100%;
}

.game-info h2 {
  color: var(--main);
  font-family: var(--font-Yantra);
  padding: 0.9rem 0 0 0.4rem;
}

.game-info-top {
  display: flex;
  width: 100%;
  gap: 100px;
}
.price {
  font-family: var(--font-Fira);
  color: var(--price);
}

.game-info p {
  padding: 1.2rem 0 1rem 0.5rem;
}

.game-info-top .price {
  position: absolute;
  font-size: 0.9rem;
  top: 60;
  left: 170;
}
.game-info .price {
  color: var(--secondary);
  text-decoration: line-through;
}

.game-info-buttom {
  padding-top: 1rem;
}
.game-info-buttom p {
  font-weight: 300;
}
.game-info-buttom p,
.off-now {
  color: var(--price);
  font-family: var(--font-Fira);
  display: flex;
  gap: 122px;
}

/**************** Section-2  **************/

.recommend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-top: 200px;
}
.recommend .recommend__title {
  display: flex;
  text-align: start;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 1rem;
}
.recommend-info-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}
.recommend-big-game {
  width: 100%;
  height: 650px;
  background-color: var(--secondary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 1rem;
}

.recommend-big-game .big-img {
  height: 650px;
  display: flex;
}
.big-img img {
  object-fit: contain;
}
.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.descripcion-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.descripcion-game h2 {
  font-family: var(--font-Yantra);
  font-size: 1.4rem;
  padding: 1.5rem 0.3rem 1rem 0.3rem;
  align-self: center;
  color: var(--main);
  display: inline;
}
.big-blabla {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-blabla {
  font-family: var(--font-Catamaran);
  color: var(--main);
  font-weight: 500;
  font-size: 1.1rem;
  width: 90%;
  padding: 0.1rem 0 0 1rem;
  align-self: center;
}

.descipcion-price {
  position: absolute;
  bottom: 15;
  width: 100%;
}

.descipcion-price .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.descipcion-price ul li {
  font-size: 1.3rem;
  padding: 0 1rem 0 1rem;
}

/***** Mini-box */

.box-recommend {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
}
.recommend-box {
  margin-top: 50px;
  background-color: var(--secondary-bg);
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
}
.recommend-box .box-img {
  width: 100%;
}
.box-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.box-info {
  width: 100%;
  height: 100%;
  color: var(--main);
}
.box-info .box-title {
  font-family: var(--font-Yantra);
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 1rem 0 0.5rem 1rem;
}
.box-info span {
  font-family: var(--font-Fira);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-left: 1rem;
  color: var(--paragraph-cl);
}
.box-info .box-blabla {
  font-family: var(--font-Catamaran);
  color: var(--main);
  font-size: 1rem;
  padding: 10px 10px;
}

/**************** Section-3  **************/

.home-tabs {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  margin: 0 1rem;
  flex-direction: column;
}

.home-tabs-content {
  margin: 0 1rem;
  max-width: 1082px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid var(--highlight);
}
.tabs-span {
  color: var(--main);
  font-family: var(--font-Catamaran);
  font-size: 1.2rem;
  font-weight: 600;
}

.tabs_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
}
.tabs_list .list {
  display: flex;
  color: var(--main);
  font-family: var(--font-Catamaran);
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.tabs_list .list .list__info {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
.tabs_list .list .list__info a {
  color: var(--main);
}
.dropdown {
  display: none;
}

.home-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 3rem 0 3rem;
}

.home-info {
  background-color: var(--secondary-bg);
  width: 100%;
  display: flex;
  margin: 3px;
}

.home-img {
  width: 190px;
  height: 108px;
}
.home-img img {
  width: 190px;
}
.home-game {
  width: 100%;
}

.home-info .home-game {
  font-family: var(--font-Yantra);
  color: var(--main);
  font-size: 1rem;
  padding: 0.6rem 0.5rem 0 0.8rem;
  width: 100%;
}
.home-game p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding-bottom: 7px;
  display: inline-flex;
}
.game-descripcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.descripcion_category {
  font-size: 1.2rem;
  font-weight: 200;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.descipcion__price__game {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.price__game {
  font-size: 1.4rem;
  color: var(--paragraph-cl);
}
/**************** Categoria  **************/

.categoria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  padding-top: 200px;
}
.categoria h2 {
  width: 100%;
  padding-bottom: 50px;
  padding-left: 1rem;
}
.categoria-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cat-box {
  width: 280px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cat-box img {
  object-fit: cover;
  width: 280px;
  height: 150px;
}

.cat-text {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
}

.cat-box p {
  font-family: var(--font-Fira);
  font-weight: 400;
  color: var(--main);
  font-size: 1rem;
}

/*! Footer */
#footer {
  background-color: var(--secondary-bg);
  margin-top: 300px;
  padding-top: 1rem;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  flex-wrap: wrap;
}
.footer_title_content {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}
.footer__socials .footer--title {
  color: var(--tertiary);
  font-size: 2.7rem;
  font-family: var(--font-Fira);
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
  width: 100%;
}

.footer__socials .footer_socials-links {
  display: flex;
  gap: 15px;
}
.footer_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main);
  gap: 10px;
  font-family: var(--font-Yantra);
  font-size: 1rem;
  flex-wrap: wrap;
  height: 100%;
}
.footer_contact ul span {
  color: var(--highlight);
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.footer_contact ul li {
  font-size: 1.05rem;
  padding: 3px 0;
}
.footer__information {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 150px;
  padding: 1rem 1rem;
}

.footer_product,
.footer_company,
.footer_politica,
.footer__suport {
  height: 100%;
  padding-top: 50px;
}
.footer_product span,
.footer_company span,
.footer_politica span,
.footer__suport span {
  font-size: 1.5rem;
  color: var(--highlight);
  font-family: var(--font-Catamaran);
  font-weight: 500;
}

.footer_product ul li,
.footer_company ul li,
.footer_politica ul li,
.footer__suport ul li {
  color: var(--main);
  font-family: var(--font-Catamaran);
  font-size: 1rem;
  cursor: pointer;
}
