@media (max-width: 1050px) {
  /* Header */
  .nav-social {
    gap: 10px;
  }
  .nav-social .btn-4 a {
    padding: 8px 8px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }

  /* Section hero */
  .home {
    align-items: start;
  }
  .home .home-text {
    padding-top: 90px;
    padding-right: 2rem;
  }
  .home-text .home-title {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    gap: 10px;
  }
  .nav-list {
    position: absolute;
    top: 85px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: var(--secondary-bg);
    border: 2px solid var();
    border-top: 0;
    border-radius: 0 0 5px 5px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 3;
    display: none;
  }

  .nav-list a {
    font-size: 21px;
  }
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
    padding-right: 10px;
  }
  .menu-label img {
    height: 50px;
    width: 55px;
  }
  #menu-toggle:checked + .nav-list {
    display: flex;
  }
}

@media (max-width: 912px) {
  /* Section hero */
  .home {
    min-height: 300px;
  }
  .home .home-text {
    padding-top: 35px;
    padding-right: 2rem;
  }

  .home-text .home-title {
    font-size: 3.5rem;
  }
  /*@ Section Recommend */

  .recommend-big-game {
    width: 650px;
    height: auto;
    flex-wrap: wrap;
  }

  .descripcion-game h2 {
    display: inline;
    font-size: 1.7rem;
  }
  .descripcion-game .big-blabla {
    padding: 0 0 15px 0;
    display: inline;
  }
  .descipcion-price {
    position: static;
    align-items: center;
    width: 90%;
    padding-bottom: 10px;
  }

  .descipcion-price ul li {
    padding: 0;
  }

  /* Section 3 */

  .home-info .home-game {
    font-size: 0.9rem;
    padding: 0.4rem 0.5rem 0 0.6rem;
  }
  .descripcion_category {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .price__game {
    font-size: 1.3rem;
    color: var(--main);
  }
}

@media (max-width: 768px) {
  /* Section hero */
  .home {
    margin: 0 1rem;
  }
  .home .home-text {
    padding-right: 1rem;
  }
  .home-text .home-title {
    font-size: 3.9rem;
  }
  /* section 2 */
  .recommend-big-game {
    width: 450px;
  }
  .recommend-big-game .big-img {
    height: 450px;
  }
  /* Section 3 dropdown */

  .tabs_list .list .list__info {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    /*  z-index: 10; */
  }
  .dropdown__hover {
    display: inline-block;
    padding: 8px;
    background: var(--secondary-bg);
    color: var(--main);
    font-family: var(--font-Yantra);
    font-size: 20px;
    cursor: pointer;
    border: none;
  }
  .dropdown__hover:hover {
    background: var(--main);
    color: var(--stroke-cl);
  }
  .dropdown__menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 80px; /*! Importante */
    background: var(--secondary-bg);
    color: var(--main);
  }
  .dropdown:hover .dropdown__menu {
    display: block;
  }
  .dropdown__menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    border: none;
    font-size: 15px;
    color: var(--main);
  }
  .dropdown__menu a:hover {
    background: var(--highlight);
  }
}
@media (max-width: 678px) {
  /* Section hero */
  .home {
    margin: 0 1rem;
    min-height: 250px;
  }
  .home .home-text {
    padding-top: 40px;
  }
  .home-text .home-title {
    font-size: 2.5rem;
  }
  /* section 3 */
  .home-info .home-game {
    font-size: 0.9rem;
    padding: 0.4rem 0.5rem 0 0.4rem;
  }
  .descripcion_category {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .price__game {
    font-size: 1.2rem;
    color: var(--main);
  }
  /* Section Footer */
  .footer__information {
    align-items: baseline;
    justify-content: center;
  }
}

@media (max-width: 571px) {
  /* section header */

  .nav-list .nav__list__social {
    display: flex;
  }

  .nav-social {
    display: none;
  }

  /* Section hero */
  .home .home-text {
    padding-right: 1rem;
  }

  /* Section 2 */
  .recommend-big-game {
    width: 300px;
  }
  .recommend-big-game .big-img {
    height: 300px;
  }
  .box-recommend {
    gap: 10px;
    justify-content: center;
  }
  .recommend-box {
    margin-top: 22px;
    width: 275px;
    height: auto;
  }
  /* Section 3 */
  .home-content {
    margin: 1rem;
  }
  .descripcion_category {
    display: none;
  }
  .descipcion__price__game {
    justify-content: flex-start;
  }
}
@media (max-width: 440px) {
  /* section hero */
  .home .home-title {
    font-size: 2rem;
  }
  .btn {
    margin: 0;
    padding: 15px 16px;
  }

  /* Section 3 */

  .home-content{
    padding: 1rem 1rem 0 1rem;
  }
  .home-info .home-game {
    font-size: .7rem;
  }
  .price__game{
    font-size: 1rem;
  }
  /* Section Footer */
  .footer__socials {
    align-items: flex-start;
    padding-left: 28px;
  }
  .footer__information {
    gap: 45px;
  }
}
@media (max-width: 320px) {
  /* Header */
  header .header-logo {
    margin: 0 0.5rem 0 1.5rem;
  }
  header .header-logo H2 {
    font-size: 1.2rem;
  }
  header .header-logo span {
    font-size: 2rem;
  }
  /* Hero */
  .home .home-title {
    font-size: 1.7rem;
  }
  .btn {
    padding: 10px 10px;
  }
  /* Section 1 */
  .section-1 h1 {
    padding: 0 0 5rem 0rem;
    text-align: center;
  }
  /* section 2 */
  .recommend .recommend__title {
    text-align: center;
    width: 82%;
  }
  .recommend-big-game {
    width: 290px;
    margin: 0 0.2rem;
  }
  .recommend-big-game .big-img {
    height: 290px;
  }
  .descripcion-game h2 {
    font-size: 1.3rem;
  }
  .big-blabla {
    font-size: 1rem;
  }
  .descipcion-price ul li {
    font-size: 1rem;
  }
  /* section 3 */
  .home-content {
    margin: 0;
    gap: 10px;
  }
  
  .home-img {
    width: 120px;
    height: 68px;
  }
  .home-img img {
    width: 120px;
  }

  .home-info .home-game {
    font-size: 0.8rem;
  }
  .price__game {
    font-size: .8rem;
  }

  /* Footer */
  .footer__socials {
    padding-left: 10px;
  }
  .footer__socials .footer--title {
    font-size: 1.2rem;
    width: 100%;
  }
  .footer__information {
    flex-direction: column;
    padding: 0;
    gap: 20px;
  }
}
